.squarewhite {
  display: flex;
  width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

.squareblack {
  display: flex;
  width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  background-color: #565656;
  box-sizing: border-box;
}

.selected {
  background-color: 5px solid green;
}