.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.playerinfo{
  color: rebeccapurple;
  margin: 5px;
}

.color {
  display: flex; 
  font-size: 30px; 
  width: 60px;
  height: 60px;
  border: 1px solid black;
  margin: 5px;
  justify-content: center;
  align-items: center;
}