.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.playerinfo{
  color: rebeccapurple;
  margin: 5px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
}