
.game {
  display: grid;
  grid-template-rows: 50px 800px 50px;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-areas: 
    ". title ."
    "playerone board playertwo"
    ". footer .";
  justify-items: center;
}

.title {
  grid-area: title;
}

.board {
  display: flex;
  grid-area: board;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.playerone {
  grid-area: playerone;
  padding: 10px;
}

.playertwo {
  grid-area: playertwo;
  padding: 10px;
}

.footer {
  grid-area: footer
}